<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Employee Table</title>
</head>

<body>

	<h3>Employee directory</h3>
	<hr>
	
	<table border="1">
	
		<thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmp : ${employees}">
				<td th:text="${tempEmp.firstName}"/>
				<td th:text="${tempEmp.lastName}"/>
				<td th:text="${tempEmp.email}"/>
			</tr>
		</tbody>
		
	</table>
</body>

</html>